body {
    background-color: #c0c0c0;
    margin:0px;
}




header, footer {
    background-color: #000; /* fundo preto */
    color: #fff; /* letra branca */
    width: 100%; /* largura */
    height: 50px; /* altura */
}




header{
    display:flex;
    align-items: center;
    justify-content: right;
}




form {
  margin-right: 20px;
}




nav {
    background-color: #424141;
    color: #fff;
    width: 100%;
    height: 20px;
}
